<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="./show-email_files/css2" rel="stylesheet" />
</head>

<body style="margin: 0; padding: 0;">
  <div id="first-container" style="
      margin:auto;
      max-width: 600px; 
      {{!-- max-hight:1000px; --}}
      padding: 1% 4% 14% 4%;
      background-repeat:no-repeat;
      background-size:100% 50%;
      background-color:white;
      background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
      );">
    {{!-- <div>
      <p style="display: inline-block;margin:0% 0% 0% 80%; color:white; ">{{Date}}</p>
    </div> --}}
    <img src="cid:logo" style=" height: 73px;
        width: 237px;
        display: inline-block
        " />
    <div style="
        
        height: 100%;
        width: 100%;
        
        margin:1% 1% 1% 0%;
        background-color: #fff;
        border-radius: 3%; text-align:center;">
      <p>
      <h1>Remaining Leaves</h1>
      <br></p>
      <p style="text-align: left; font-size: large; margin:0 5% 0">
        Hello {{Name}}, <br><br>
        Remaining Leaves as of Today <br>
      <table style="width:60%; padding-left:4%; font-size:15px;">
        <tr>
          <td style="width:73%;">Casual Leave (CL)</td>
          <td style="width:27%;"> {{CL}}</td>
        </tr>
        <tr>
          <td style="width:73%;">Sick Leave (SL)</td>
          <td style="width:27%;"> {{SL}}</td>
        </tr>
        <tr>
          <td style="width:73%;">Paid Leave (PL)</td>
          <td style="width:27%;"> {{PL}}</td>
        </tr>
      </table>
      <br />
      <p style="font-size: small ; color: #666; margin:7%">
        Refer to HR Policy for Utilization of these leaves
      </p>
      <div style="text-align:center">
        <p style="font-size: small; color: #666;">
          If you have any questions, feel free message us at <br>
          <a href="mailto:anand@monetnetworks.com">anand@monetnetworks.com</a>. All right reserved. Update email
          preferences or .
          <br>
          <br>
          615, Bestech Business Tower, Sector 48,<br>
          Gurgaon, Haryana, India, 12201
        </p>
      </div>
    </div>
  </div>
</body>

</html>